
.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    font-size: xx-large;
}

.list-item{
    display: block;
}

#album2 {
    width: 225px;
    height: auto;
}

#bio1 {
    width: 300px;
    height: auto;
}

#bio2 {
    width: 300px;
    height: auto;
}